
<div *ngIf="showError" >
  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  <span class="sr-only">(error)</span>
  <div class="alert alert-danger errorDiv" role="alert">
    {{ errorMsg }}
  </div>
</div>