<div class="textCenter">                           
  <div class="row">
      <div class="col-sm-12">
        <h2>Account created successfully.</h2>
      </div>
    </div>                         
  <div class="row">
    <div class="col-sm-12 homeButton">
      <p><button routerLink="../../login" class="btn btn-primary" >Login</button></p>
    </div>
  </div>                   
</div>
