<!-- Modal que abre quando voce clica em um dia. Permite voce editar ou adicionar novos eventos -->
<ng-template #modalContent let-close="close" >
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="closeModal()"> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <h3>
        Edit events
        <!-- Botao que adiciona um novo evento em branco, no array newEvents -->
        <button
          class="btn btn-primary pull-right"
          (click)="createNewEventField()">
          Add new
        </button>
        <!-- Botao de submissao localizado na parte de cima do formulario para facilitar, caso tenham muitos eventos no mesmo dia -->
        <button type="submit" class="btn btn-primary pull-left" (click)="submitModal()"> <!-- Fecha o modal e se tivermos adicionado algum novo evento, emite um evento para o calendario.component mandando o array de novos eventos newEvents -->
          Submit
        </button>
        <div class="clearfix"></div>
      </h3>
      <field-control-error
        [showError]="this.showErrorDiv"
        [errorMsg]="this.errorMessage">
      </field-control-error> 
      <br>
      <table class="table table-bordered">
      
        <thead>
          <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
          </tr>
        </thead>             
        <tbody>

           <!-- Colunas da tabela que seguram os NOVOS EVENTOS (aparece em cima)-->
            <tr *ngFor="let newEvent of newEvents; let index = index">
                <td>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="newEvent.title"
                    (keyup)="refreshEmitter.emit()" autofocus>
                </td>
                <td>
                  <input
                    type="color"
                    [(ngModel)]="newEvent.color.primary"
                    (change)="refreshEmitter.emit()">
                </td>
                <td>
                  <input
                    type="color"
                    [(ngModel)]="newEvent.color.secondary"
                    (change)="refreshEmitter.emit()">
                </td>
                <td [ngClass]="{ 'red-border' : !event.dateIsValid }">
                  <mwl-demo-utils-date-time-picker
                    [(ngModel)]="newEvent.start"
                    (ngModelChange)="refreshEmitter.emit()"
                    [event] = "newEvent"  
                    placeholder="Not set">
                  </mwl-demo-utils-date-time-picker>
                </td>
                <td [ngClass]="{ 'red-border' : !event.dateIsValid }">
                  <mwl-demo-utils-date-time-picker
                    [(ngModel)]="newEvent.end"
                    (ngModelChange)="refreshEmitter.emit()"
                    [event] = "newEvent"  
                    placeholder="Not set">
                  </mwl-demo-utils-date-time-picker>
                </td>
                <td>
                  <button
                    class="btn btn-danger"                    
                    (click)="deleteNewEvent(index)">
                    Delete
                  </button>
                </td>
              </tr>

          <!-- Tabela que segura os EVENTOS JÁ ADICIONADOS -->
          <tr *ngFor="let event of eventsToDisplay; let index = index">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refreshEmitter.emit()">
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.primary"
                (change)="refreshEmitter.emit()">
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.secondary"
                (change)="refreshEmitter.emit()">
            </td>
            <td [ngClass]="{ 'red-border' : !event.dateIsValid }">
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.start"
                (ngModelChange)="refreshEmitter.emit()"
                [event] = "event"                
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </td>
            <td  [ngClass]="{ 'red-border' : !event.dateIsValid }">
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.end"
                (ngModelChange)="refreshEmitter.emit()"
                [event] = "event"                       
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <button
                class="btn btn-danger"
                (click)="deleteEventModal(index)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      
      </table>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="submitModal()">Save</button>
    </div>
  </ng-template>