<!-- 
     Template customizado para aparecer a hora de inicio do evento, junto ao nome,
     na barra preta que aparece quando o usuario passa o mouse por cima de um dia 
-->
<ng-template
#templateVar
let-event="event"
let-view="view"    
>
<a class="cal-event-title" href="javascript:;">
  <!-- Mostra o evento no formato: 00:00 am - Titulo -->    
  {{ event | MyCustomEventTitlePipe:viewDate  }}
</a>
</ng-template>
<ng-template
[ngTemplateOutlet]="customTemplate || defaultTemplate"
[ngTemplateOutletContext]="{
  event: event,
  view: view
}">
</ng-template>