
    

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">Calendário de Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 15px;">
                <span class="navbar-toggler-icon"></span>
            </button>
    <!-- <div class="collapse navbar-" id="navbarSupportedContent"> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="userIsLoggedIn">
                <a class="nav-link waves-effect waves-light" routerLink="logout">Logout <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="!userIsLoggedIn">
                <a class="nav-link waves-effect waves-light" routerLink="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!userIsLoggedIn">
                <a class="nav-link waves-effect waves-light" routerLink="register">Sign Up</a>
            </li>
        </ul>
        <!--<form class="form-inline waves-effect waves-light">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" disabled>
        </form>-->
   <!--  </div> -->
</nav>

<!-- O Calendario em si-->
<div class="container" style="padding-top: 30px;">
    <router-outlet></router-outlet>
</div>


<!--Footer-->
<footer class="page-footer blue center-on-small-only myCustomFooter">
    
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h5 class="title">Calendar</h5>
                <p>Here you can use your calendar to organize the events in your life.</p>
            </div>

            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>            
        </div>
    </div>    
    
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="https://www.facebook.com/gabriel.carvalho1"> Gabriel Pinheiro de Carvalho </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>