<!-- Cabecalho do calendarioa com botoes de mudar mes/dia/semana assom como mudar a view -->
<calendar-header-component 
  [(view)]="view"
  [(viewDate)]="viewDate">
</calendar-header-component>

<!-- Modal que abre quando voce clica em um dia. Permite voce editar ou adicionar novos eventos -->
<edit-modal-component #editModalRef
  [viewDate]="viewDate"
  (refreshEmitter)="refreshComponents()"
  (addEventEmitter)="addToCalendar($event)"
  (deleteEventEmitter)="deleteEvent($event)">  
</edit-modal-component>

<!-- Template de celula de dia customizada que abre uma barra preta com a lista de eventos do dia, quando passa o mouse por cima -->
<custom-cell
  (templateVarEmitter)="assignCustomCellTemplate($event)"
  (onMouseOverEmitter)="onMouseOverResponse($event)">
</custom-cell>

<!-- Template de titulo do evento customizada para exibir no formato "hh:mm a - titulo do evento" -->
<custom-event-title
  [viewDate]="viewDate"
  (templateVarEmitter)="assignCustomEventTitle($event)">
</custom-event-title>


<div [ngSwitch]="view"> 

  <!-- A visao do calendario que mostra o mes inteiro -->
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day, editModalRef)"
    (eventClicked)="handleEvent('Clicked', $event.event, editModalRef)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [cellTemplate]="customCellTemplate"
    [eventTitleTemplate]="customEventTitleTemplate">
  </mwl-calendar-month-view>

  <!-- A visao do calendario que mostra uma semana apenas -->
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event, editModalRef)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>

  <!-- A visao do calendario que mostra um dia apenas -->
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event, editModalRef)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>


<br><br>