<div *ngIf="!this._authService.isAuthenticated()">
<h3>Registration</h3>
<hr />
<form [formGroup]='register' (ngSubmit)='submitNewUser()' novalidate>
    <field-control-error
    [showError]="this.showErrorMessage"
    errorMsg="There was an error while creating your account. Please try again later.">
</field-control-error> 
    <div class='row'>
        <label for="firstName" class="col-2 col-form-label">First Name</label>
        <div class="col-4">      
        <input type='text' formControlName='firstName'
               class='form-control'
               placeholder='First Name'>
        
      	<div *ngIf="firstName.invalid && firstName.touched && (firstName.dirty || isSubmitted)" class="text-danger">
      	  <div *ngIf="firstName.errors.required">First Name is required.</div>
      	  <div *ngIf="firstName.errors.minlength">
      		Name must be at least 4 characters long.
      	  </div>
      	  <div *ngIf="firstName.errors.maxlength">
      		Name must not exceed 32 characters.
      	  </div>
        </div>                  
      </div>
      <label for="lastName" class="col-2 col-form-label">Last Name</label>
      <div class="col-4">      
      <input type='text' formControlName='lastName'
             class='form-control'
             placeholder='Last Name'>    
      <div *ngIf="lastName.invalid && lastName.touched && (lastName.dirty || isSubmitted)" class="text-danger">
        <div *ngIf="lastName.errors.required">Last Name is required.</div>
        <div *ngIf="lastName.errors.minlength">
        Name must be at least 4 characters long.
        </div>
        <div *ngIf="lastName.errors.maxlength">
        Name must not exceed 32 characters.
        </div>
      </div>                  
    </div>

    </div>
    
    
    
    <div class='row'>
        <label for="username" class="col-2 col-form-label">Email*</label>
        <div class="col-10">
            <input type='text' formControlName='email' email
            class='form-control'
            placeholder='example@email.com'
            (focusout)="checkUserExists()">
            
     <div *ngIf="email.invalid && email.touched && (email.dirty || isSubmitted)" class="text-danger">
       <div *ngIf="email.errors.required">Email is required.</div>
       <div *ngIf="email.errors.email && !email.errors.required">Invalid email</div>
       <div *ngIf="email.errors.notUnique">Email already in use.</div>
     </div>
   </div>
 </div>
    
    <div class='row'>
        <label for="password" class="col-2 col-form-label">Password*</label>
        <div class="col-10">
        <input type='password' formControlName='password'
               class='form-control' 
               advs-compare="verify" parent='true'
               placeholder='******'>
               
        <div *ngIf="password.invalid && password.touched && (password.dirty || isSubmitted)" class="text-danger">
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters long.</div>
          <div *ngIf="password.errors.required">Password is required.</div>
          
      	</div>
      </div>
    </div>
    
    
    <div class='row'>
        <label for="password" class="col-2 col-form-label">Password Confirmation*</label>
        <div class="col-10">
        <input type='password' formControlName='verify'
               class='form-control'
               advs-compare="password" parent='false'
               placeholder='******'>
             
        <div *ngIf="verify.invalid && verify.touched && (verify.dirty || isSubmitted)" class="text-danger">
      		<div *ngIf="verify.errors.required">Confirm Password is required.</div>
      		<div *ngIf="verify.errors.compare && !verify.errors.required">Password Mismatch.</div>
      	</div>
      </div>
    </div>
    
    <div class="form-group row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary push-right float-right">Submit</button>
        </div>
    </div>
</form>
</div>




<!--<div *ngIf="!this._authService.isAuthenticated() && !this.showSuccessDiv">
<h1>Sign-up</h1>
<br>
<form class="form-horizontal" [formGroup]="form" (ngSubmit)="submitNewUser()">
<div class="form-group row">
   <label for="firstName" class="col-2 col-form-label">First Name</label>
   <div class="col-4">
     <input type='text' formControlName='firstName'
               class='form-control'
               placeholder='First Name'>
        
      	<div *ngIf="firstName.invalid && (firstName.dirty || isSubmitted)" class="text-danger">
      	  <div *ngIf="firstName.errors.required">Name is required.</div>
      	  <div *ngIf="firstName.errors.minlength">
      		First Name must be at least 4 characters long.
      	  </div>
      	  <div *ngIf="firstName.errors.maxlength">
      		First Name must not exceed 15 characters.
      	  </div>
      	</div>
   </div>
   <label for="lastName" class="col-2 col-form-label">Last Name</label>
   <div class="col-4">
      <input class="form-control" type="text" placeholder="Last Name" id="lastName" formControlName="lastName">
   </div>
</div>

<div class="form-group row">
   <label for="username" class="col-2 col-form-label">Email*</label>
   <div class="col-10">
      <input class="form-control" type="email" placeholder="email@example.com" id="username" formControlName="username">
      <field-control-error
      [showError]="verifyValidTouched('username')"
      errorMsg="This field is required.">
</field-control-error>
   </div>

</div>
<div class="form-group row">
   <label for="password" class="col-2 col-form-label">Password*</label>
   <div class="col-10">
      <input class="form-control" type="password" placeholder="******" id="password" formControlName="password">
      <field-control-error
          [showError]="verifyValidTouched('password')"
          errorMsg="This field is required.">
    </field-control-error>
   </div>
   
</div>
<div class="form-group row">
   <label for="passwordConfirmation" class="col-2 col-form-label">Confirm Password*</label>
   <div class="col-10">
      <input class="form-control" type="password"  placeholder="*******" id="passwordConfirmation" formControlName="passwordConfirmation">
      <field-control-error
          [showError]="verifyValidTouched('passwordConfirmation')"
          errorMsg="This field is required.">
    </field-control-error>
   </div>
   
</div>
<div class="form-group row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary push-right float-right">Submit</button>
    </div>
</div>
</form>
</div> -->


<!-- <div *ngIf="this.showSuccessDiv" class="loggedInDiv">                           
      <div class="row">
          <div class="col-sm-12">
            <h2>Account created successfully.</h2>
          </div>
        </div>                         
      <div class="row">
        <div class="col-sm-12 homeButton">
          <p><button routerLink="../login" class="btn btn-primary" >Login</button></p>
        </div>
      </div>                   
</div>-->

<div *ngIf="this._authService.isAuthenticated()" class="textCenter">                    
    <div class="row">
      <div class="col-sm-12">
          You are currently signed in.
      </div>
    </div>                         
    <div class="row">
        <div class="col-sm-12">
          <h2>You must be logged out to create an account.</h2>
        </div>
      </div>                         
    <div class="row">
      <div class="col-sm-12 homeButton">
        <p><button routerLink="../logout" class="btn btn-primary" >Logout</button></p>
      </div>
    </div>                         
                      
</div>